{% extends "blog/base.html" %}

{% load static %}

{% block title %} Автор || {{ author.name }} {% endblock title %}

{% block url_author %} {% url 'author' author.name %} {% endblock url_author %}
{% block twitter %} {{ author.twitter_share }} {% endblock twitter %}
{% block facebook %} {{ author.facebook_share }} {% endblock facebook %}
{% block googleplus %} {{ author.google_plus_share }} {% endblock googleplus %}
{% block email %} {{ author.email }} {% endblock email %}

{% block content %}

    {% if author.background_image %}
        <header class="main-header author-head " style="background-image: url( {{ author.background_image.url }} )">
	</header>
    {% else %}
        <header class="main-header author-head " style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7qG8z4lT8lbOzXfdAADfWpqntt5Nl03-IUw&usqp=CAU)">
	</header>
    {% endif %}

	<section class="author-profile inner">
	<figure class="author-image">
    <div class="img" style="background-image: url( {{ author.image.url }} )">
        <span class="hidden">David's Picture</span>
    </div>
	</figure>
	<h1 class="author-title">{{ author.name }}</h1>
	<h2 class="author-bio">{{ author.about_text }}</h2>

    <div class="author-meta">
		<span class="author-location icon-location">{{ author.country }}</span>
		<span class="author-link icon-link"><a href="{{ author.email }}">{{ author.email }}</a></span>
		<span class="author-stats"><i class="icon-stats"></i> {{ author.get_count_posts }} posts</span>
	</div>

	</section>

	<main class="content" role="main">
	<div class="wraps">
    <img src="{% static "assets/img/shadow.png" %}" class="wrapshadow">

    <div class="grid">
    {% for post in posts %}

        <div class="grid-item">
            <article class="post tag-romance">

            {% if post.image_prew %}
                <a href="article.html"><img src="{{ post.image_prew.url }}"></a>
            {% endif %}

            <div class="wrapgriditem">
                <header class="post-header">
                <h2 class="post-title"><a href="article.html">{{ post.title }}</a></h2>
                </header>
                <section class="post-excerpt">
                <p>
                    {{ post.prew }} <a class="read-more" href="article.html">&raquo;</a>
                </p>
                </section>
                <footer class="post-meta">
                <img class="author-thumb" src="{{ post.get_author_img }}" alt="author" nopin="nopin"/>
                <a href="{% url 'author' post.get_author_name %}">{{ post.author.name }}</a>
                <time class="post-date">{{ post.create_post_date | date:"d E Y" }}</time>
                </footer>
            </div>
            </article>
        </div>

    {% endfor %}
    </div>


    {% if is_paginated %}
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
        {% endif %}
        {% for i in paginator.page_range %}
          {% if page_obj.number == i %}
            <span>{{ i }}</span>
          {% else %}
            <a href="?page={{ i }}">{{ i }}</a>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
        {% endif %}
      </ul>
    {% endif %}

</div>
	</main>

{% endblock content %}