{% load static %}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>{% block title %} Nectaria {% endblock title %}</title>
<meta name="description" content="Thoughts, reviews and ideas since 1999."/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="shortcut icon" href="#">
<link rel="stylesheet" type="text/css" href="{% static "assets/css/screen.css" %}">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,700,700italic|Playfair+Display:400,700,400italic,700italic"/>
</head>

<body class="{% block class_body %}home-template{% endblock class_body %}">
<div class="site-wrapper">
	<nav class="main-nav overlay clearfix">
	<a class="blog-logo" href="{% url 'index' %}"><img src="{% static "assets/img/logo.png" %}" alt="Fashion Critiques"/></a>
	<ul id="menu">
		<li class="nav-home nav-current" role="presentation"><a href="{% url 'index' %}">Home</a></li>
        {% block visible_nav_author %}
		    <li class="nav-author-page" role="presentation"><a href="{% block url_author %}{% endblock url_author %}">Author</a></li>
        {% endblock visible_nav_author %}
        {% if user.is_authenticated %}
            <li class="nav-about-us" role="presentation"><a href="{% url 'post_create' %}">Create Post</a></li>
            {% block post_edit_nav %}{% endblock post_edit_nav %}
            {% block post_delete_nav %}{% endblock post_delete_nav %}
        {% endif %}
		<span class="socialheader">
		<a href="{% block twitter %}{% endblock twitter %}"><span class='symbol'>circletwitterbird</span></a>
		<a href="{% block facebook %}{% endblock facebook %}"><span class='symbol'>circlefacebook</span></a>
		<a href="{% block googleplus %}{% endblock googleplus %}"><span class='symbol'>circlegoogleplus</span></a>
		<a href="{% block email %}{% endblock email %}"><span class='symbol'>circleemail</span></a>
		</span>
	</ul>
	</nav>


    {% block content %}

    {% endblock content %}

	<footer class="site-footer clearfix">
	<a href="#top" id="back-to-top" class="back-top"></a>
	<div class="text-center">
		<a href="index.html">Nectaria Template</a> &copy; 2016<br/>
		Free HTML Template by <a href="https://wowthemes.net">WowThemes.net</a>
	</div>
	</footer>
</div>



<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="{% static "assets/js/masonry.min.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/jquery.fitvids.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/index.js" %}"></script>
</body>
</html>