{% extends 'blog/base.html' %}

{% load static %}

{% block post_edit_nav %}
    <li class="nav-about-us" role="presentation"><a href="{% url 'post_edit' post.pk %}">Edit current post</a></li>
{% endblock post_edit_nav %}

{% block post_delete_nav %}
    <li class="nav-about-us" role="presentation"><a href="{% url 'post_delete' post.pk %}">Delete current post</a></li>
{% endblock post_delete_nav %}

{% block title %} Пост || № {{ post.pk }} {% endblock title %}

{% block class_body %}post-template{% endblock class_body %}

{% block content %}

    {% if post.image_prew %}
	    <header class="main-header post-head " style="background-image: url({{ post.image_prew.url }})">
    {% else %}
        <header class="main-header post-head " style="background-image: url({% static 'assets/img/random.jpg' %})">
    {% endif %}
	<div class="vertical">
		<div class="main-header-content inner">
			<h1 class="post-title">{{ post.title }}</h1>
			<div class="entry-title-divider">
				<span></span><span></span><span></span>
			</div>
			<section class="post-meta">
			<time class="post-date" datetime="2015-12-13">{{ post.create_post_date | date:"d E Y" }}</time> | <a class="scrolltocomments" href="#disqus_thread">Comments</a>
			</section>
		</div>
	</div>
	</header>

	<main id="content" class="content" role="main">
	<div class="wraps">
		<article class="post featured">
		<section class="post-content">
		<p>
			{{ post.content }}
		</p>
		</section>
		<footer class="post-footer">
		<figure class="author-image">
		<a class="img" href="{% url 'author' author.name %}" style="background-image: url({{ author.image.url }}"><span class="hidden">David's Picture</span></a>
		</figure>
		<section class="author">
		<h4><a href="{% url 'author' author.name %}">{{ author.name }}</a></h4>

		<p>
			The blog combining journalist David&#x27;s years of experience covering fashion and culture for among others. Read my blog and you will learn how to become a fashion editor
		</p>

		<div class="author-meta">
			<span class="author-location icon-location">{{ author.country }}</span>
			<span class="author-link icon-link"><a href="{{ author.email }}">{{ author.email }}</a></span>
		</div>
		</section>

		<section class="share">
		<h4>Share this post</h4>
		<a class="icon-twitter" href="{{ author.twitter_share }}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
		<span class="hidden">Twitter</span>
		</a>
		<a class="icon-facebook" href="{{ author.facebook_share }}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
		<span class="hidden">Facebook</span>
		</a>
		<a class="icon-google-plus" href="{{ author.google_plus_share }}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
		<span class="hidden">Google+</span>
		</a>
		</section>
		</footer>
		<div id="disqus_thread">
		</div>
		<script>
			(function() { // DON'T EDIT BELOW THIS LINE
			var d = document, s = d.createElement('script');
			s.src = 'https://wowthemesdemo.disqus.com/embed.js';
			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
			})();
			</script>
		</article>
	</div>
	</main>

	<div class="clearfix">
	</div>

	<aside class="read-next">
    {% if next_post %}
        <a class="read-next-story " style="background-image: url(http://s3.amazonaws.com/caymandemo/wp-content/uploads/sites/10/2015/09/10175658/j6-520x779-520x600.jpg)" href="{% url 'post_detail' next_post.pk %}">
        <section class="post">
        <h2>{{ next_post.title }}</h2>
        <p>
            {{ next_post.prew }}
        </p>
        </section>
        </a>
    {% endif %}
    {% if last_post %}
        <a class="read-next-story prev " style="background-image: url(http://s3.amazonaws.com/caymandemo/wp-content/uploads/sites/10/2015/09/10175658/j7-520x780-520x600.jpg)" href="{% url 'post_detail' last_post.pk %}">
        <section class="post">
        <h2>{{ last_post.title }}</h2>
        <p>
            {{ last_post.prew }}
        </p>
        </section>
        </a>
    {% endif %}
	</aside>

{% endblock content %}