{% extends 'blog/base.html' %}

{% load static %}

{% block content %}
<div class="wraps">
    <img src="{% static "assets/img/shadow.png" %}" class="wrapshadow">

    <div class="grid">
    {% for post in posts %}

        <div class="grid-item">
            <article class="post tag-romance">

            {% if post.image_prew %}
                <a href="article.html"><img src="{{ post.image_prew.url }}"></a>
            {% endif %}

            <div class="wrapgriditem">
                <header class="post-header">
                <h2 class="post-title"><a href="article.html">{{ post.title }}</a></h2>
                </header>
                <section class="post-excerpt">
                <p>
                    {{ post.prew }} <a class="read-more" href="article.html">&raquo;</a>
                </p>
                </section>
                <footer class="post-meta">
                <img class="author-thumb" src="{{ post.get_author_img }}" alt="author" nopin="nopin"/>
                <a href="author.html">{{ post.author.name }}</a>
                <time class="post-date">{{ post.create_post_date | date:"d E Y" }}</time>
                </footer>
            </div>
            </article>
        </div>

    {% endfor %}

    </div>


    {% if is_paginated %}
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
        {% endif %}
        {% for i in paginator.page_range %}
          {% if page_obj.number == i %}
            <span>{{ i }}</span>
          {% else %}
            <a href="?page={{ i }}">{{ i }}</a>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
        {% endif %}
      </ul>
    {% endif %}

</div>
{% endblock content %}