{% extends 'blog/base.html' %}

{% load static %}

{% block url_author %} {% url 'author' author.name  %} {% endblock url_author %}
{% block twitter %} {{ author.twitter_share }} {% endblock twitter %}
{% block facebook %} {{ author.facebook_share }} {% endblock facebook %}
{% block googleplus %} {{ author.google_plus_share }} {% endblock googleplus %}

{% block content %}

    <header class="main-header " style="background-image: url( {% static "assets/img/intro.jpg" %})">
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">Fashion Critiques</h1>
            <div class="entry-title-divider">
                <span></span><span></span><span></span>
            </div>
            <h2 class="page-description">Thoughts, reviews and ideas since 1999.</h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
    </header>

<main id="content" class="content" role="main">
<div class="wraps">
    <img src="{% static "assets/img/shadow.png" %}" class="wrapshadow">

    <div class="grid">
    {% for post in posts %}

        <div class="grid-item">
            <article class="post tag-romance">

            {% if post.image_prew %}
                <a href="article.html"><img src="{{ post.image_prew.url }}"></a>
            {% endif %}

            <div class="wrapgriditem">
                <header class="post-header">
                <h2 class="post-title"><a href="article.html">{{ post.title }}</a></h2>
                </header>
                <section class="post-excerpt">
                <p>
                    {{ post.prew }} <a class="read-more" href="article.html">&raquo;</a>
                </p>
                </section>
                <footer class="post-meta">
                <img class="author-thumb" src="{{ post.get_author_img }}" alt="author" nopin="nopin"/>
                <a href="{% url 'author' post.get_author_name %}">{{ post.author.name }}</a>
                <time class="post-date">{{ post.create_post_date | date:"d E Y" }}</time>
                </footer>
            </div>
            </article>
        </div>

    {% endfor %}

    </div>


    {% if is_paginated %}
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
        {% endif %}
        {% for i in paginator.page_range %}
          {% if page_obj.number == i %}
            <span>{{ i }}</span>
          {% else %}
            <a href="?page={{ i }}">{{ i }}</a>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
        {% endif %}
      </ul>
    {% endif %}

</div>

</main>

{% endblock content %}